.app-container {
    display: flex;
    min-height: 100vh;
    width: 20%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.sidebar {
    width: 260px;
    height: 964px;
    background-image: url('../../assets/images/asideBgImg.png');
    background-size: 100% 800px;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 24px;
}

.homeIcon{
    margin-bottom: 100px;
    margin-top: -25px;
    margin-left: 5px;
    width: 64px;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    /*margin-bottom: 16px;*/
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.menu-item .menu-icon {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

/*.menu-item:hover {*/
/*    background-color: rgba(255, 255, 255, 0.15);*/
/*    height: 40px;*/
/*}*/

.menu-item.active {
    background-color: white;
    color: black;
    height: 40px;
    font-weight: 500;
}

.active{
    border: none;
}

.menu-item.active .menu-icon {
    filter: brightness(0);
}

.logout-button {
    background: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 8px;
    color: #ff4b4b;
    font-size: 16px;
    cursor: pointer;
    padding: 7px 21px 8px 11px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 360px auto;
}

/* Мобильная адаптация */
@media (max-width: 1024px) {
    .app-container {
        flex-direction: column;
    }

    .sidebar {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 20px;
        overflow-x: auto;
    }

    .menu ul {
        display: flex;
        gap: 16px;
    }

    .menu-item {
        white-space: nowrap;
        margin-bottom: 0;
    }

    .logout-button {
        margin-left: auto;
    }
}

@media (max-width: 600px) {
    .sidebar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .menu ul {
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .menu-item {
        width: 100%;
    }

    .logout-button {
        padding: 40px 0 0;
        width: 100%;
        justify-content: flex-start;
    }
}
