.register {
    background-image: url("https://s3-alpha-sig.figma.com/img/f4dd/2351/49eaf451a1b5b047d5848fccce00e42c?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Bpae0-vxHOSRFCyTMk4QBpO1Q~a5VH1rEXGfoIoCTXmcTSuMAUnRhOC3ttVXzljOiVv9puZGP5rA5NZZm9nmULzjuaRZy5OKi4Odj9PdZfcgijlMyTMw-DnjVH9NhM1ACauvFUxW5JFIpHiF-ka4XAc3dXXUoIpv2BqNyuFxcdR5cOSNyFmXMi0hlkDq6nxaPTJszgLBafxBNmWhtIPvBIhd9X~OEwoVYqpo-BW-enuQnoYkcg9z1nwFOfnpxdBxvGMtndj-phHW3gcdaPklAJMIVlocqbgjOAjovMTRr4yxokqGFzYKMpg63BKtrA--o35PuIpTLEU0RE0k6XctUA__");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.register-modal {
    background: white;
    border-radius: 16px;
    padding: 40px;
    width: 420px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    /*gap: 5px; !* Расстояние между полями *!*/
}

.form-input {
    flex: 1; /* Чтобы поля занимали доступное пространство */
}

/* Увеличиваем ширину поля для имени */
.first-name-input {
    /*width: 70%;  !* Это значение можно настроить по вашему желанию *!*/
}

.last-name-input {
    width: 70%;  /* Это значение можно настроить по вашему желанию */
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"],
.form input[type="date"] {
    width: 100%;  /* Ширина поля по умолчанию */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.remember-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remember-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

/* Стиль переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Серый фон ползунка */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

/* Кружок внутри */
.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Когда активен — красный фон */
.switch input:checked + .slider {
    background-color: #ff2d2d;
}

/* Когда активен — двигается кружок */
.switch input:checked + .slider::before {
    transform: translateX(20px);
}

.remember-text {
    font-size: 20px;
    color: rgba(134, 136, 137, 1);
}


.submit-btn {
    background-color: #ff2d2d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.login-link {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

