.register-container {
    background-image: url("https://s3-alpha-sig.figma.com/img/f4dd/2351/49eaf451a1b5b047d5848fccce00e42c?Expires=1746403200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ioOTfL5UNfnwntjxK11VB9wQWVfWf4dh6rzDbhvEv6vZQBJlSkJI26h9mVgg4P5FRfYZSmR8Mzwq~GBaL1Yg13zfdVK0Dg0GDwHdhkv2L4ZiDVmetAixcgnxO6-AQZi6CcDDEMIN7q7X2ZA4Rt7MvRw2OlbZr4pxwMuvHG2kxnkckoirVjGN3PxldxiVCLP~ygY52jQS~RvGkdKqd6jwHoONoiTmVorHgyKvHIxZ3uOP04I8rWXu2XT17Wa3ZViOnk1u~J3IB4E-IHno2KG7Dd1bUhS06Ogo9qb9hp-E1dAihGemmJd2Bo8GTmQG9-I1bStpcoP~pGJ2ZBumErPKFA__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
}

.register-modal {
    background: white;
    border-radius: 6px;
    padding: 40px;
    width: 636px;
    height: 788px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    position: relative;
    margin: auto;
}

 .register-modal .close-btn {
    position: absolute;
    right: 20px;
     top: -5px;
    font-size: 45px;
    font-weight: 200;
    background: none;
    color: #18171A;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

 .register-modal .title-register {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 700 !important;
    font-family: 'Lato', sans-serif ;
     line-height: 100%;
     letter-spacing: 1px;
     text-transform: none;
 }

 .register-modal .subtitle-register {
    text-align: left;
    font-size: 20px;
    margin-bottom: 32px;
    margin-top: 32px;
     font-weight: 600;
     font-family: 'Lato', sans-serif ;
 }

.form-register {
    display: flex;
    gap: 17px;
}

.form-input {
    flex: 1;
}

/*.form input[type="text"],*/
.form input[type="email"],
.form input[type="password"]
 {
    width: 556px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.phone-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.phone-label {
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1A; /* чёрный, как на скрине */
    margin-bottom: 4px;
    display: inline-block;
    margin-left: 3px;
}

.date-label {
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1A;
    margin-bottom: 4px;
    display: inline-block;
    /*margin-left: 13px;*/
}

.label-register {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}


.phone-input::placeholder {
    color: #aaa;
}

.remember-register {
    display: flex;
    gap: 10px;
    align-items: center;

}

.remember-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #ff2d2d;
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
}

.remember-text {
    font-size: 20px;
    color: rgba(134, 136, 137, 1);
}

.submit-btn-register {
    background-color: #ff2d2d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.register-link {
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}

.register-link a{
    text-decoration: none;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

/* Обёртка */
.custom-phone-input {
    position: relative;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .register {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        width: 375px;
    }

    .register-modal {
        width: 100%;
        max-width: 343px;
        max-height: 605px;
        padding: 25px 20px;
        border-radius: 12px;
    }

    .register-modal .close-btn {
        top: 1px;
        right: 14px;
        font-size: 26px;
    }

    .register-modal .title-register {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .register-modal .subtitle-register {
        font-size: 12px;
        margin-bottom: 10px;
        color: #858585;
        font-weight: 200;
    }

    .form input[type="email"],
    .form input[type="password"] {
        height: 36px;
        width: 100%;
    }

    .form input[type="text"]{
        height: 30px;
        border-radius: 6px;
    }

    .form input[type="tel"],
    .form input[type="date"]{
        height: 30px;
        border-radius: 6px;
    }


    .label-register {
        font-size: 10px;
        margin-bottom: 1px;
        margin-top: 10px;
        color: rgba(24, 23, 26, 1)
    }

    .form-register{
        width: 300px;
        margin-bottom: 10px;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-top: 2px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 20px;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        border: 1px solid #bdbaba;
        transition: 0.4s;
        border-radius: 50%;
    }

    .switch input:checked + .slider {
        background-color: #ff2d2d;
    }

    .switch input:checked + .slider::before {
        transform: translateX(20px);
    }

    .remember-register .remember-text {
        font-size: 12px;
        font-weight: 300;
    }

    .submit-btn-register {
        font-size: 14px;
        padding: 10px;
        font-weight: 100;
        margin-top: 50px;
    }

    .register-link {
        font-size: 14px;
    }

    .slider{
        background-color: white;
        border: 1px solid #ccc;
    }


}



