.import-reg-container {
    background-image: url("https://s3-alpha-sig.figma.com/img/f4dd/2351/49eaf451a1b5b047d5848fccce00e42c?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Bpae0-vxHOSRFCyTMk4QBpO1Q~a5VH1rEXGfoIoCTXmcTSuMAUnRhOC3ttVXzljOiVv9puZGP5rA5NZZm9nmULzjuaRZy5OKi4Odj9PdZfcgijlMyTMw-DnjVH9NhM1ACauvFUxW5JFIpHiF-ka4XAc3dXXUoIpv2BqNyuFxcdR5cOSNyFmXMi0hlkDq6nxaPTJszgLBafxBNmWhtIPvBIhd9X~OEwoVYqpo-BW-enuQnoYkcg9z1nwFOfnpxdBxvGMtndj-phHW3gcdaPklAJMIVlocqbgjOAjovMTRr4yxokqGFzYKMpg63BKtrA--o35PuIpTLEU0RE0k6XctUA__");    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-reg-modal {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    width: 520px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.import-reg-icon {
    width: 59px;
    height: 59px;
    background-color: #F50000; /* Красный фон */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 54px auto;
}

.icon-cross {
    width: 38px;
    height: 38px;
    fill: #ffffff; /* Белая иконка */
}


.import-reg-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.import-reg-message {
    font-size: 20px;
    color: #333;
    margin-bottom: 50px;
}

.import-reg-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

.import-reg-button {
    background-color: #f20000;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.import-reg-button:hover {
    background-color: #d10000;
}
