.import-reg-container {
    background-image: url("https://s3-alpha-sig.figma.com/img/f4dd/2351/49eaf451a1b5b047d5848fccce00e42c?Expires=1746403200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ioOTfL5UNfnwntjxK11VB9wQWVfWf4dh6rzDbhvEv6vZQBJlSkJI26h9mVgg4P5FRfYZSmR8Mzwq~GBaL1Yg13zfdVK0Dg0GDwHdhkv2L4ZiDVmetAixcgnxO6-AQZi6CcDDEMIN7q7X2ZA4Rt7MvRw2OlbZr4pxwMuvHG2kxnkckoirVjGN3PxldxiVCLP~ygY52jQS~RvGkdKqd6jwHoONoiTmVorHgyKvHIxZ3uOP04I8rWXu2XT17Wa3ZViOnk1u~J3IB4E-IHno2KG7Dd1bUhS06Ogo9qb9hp-E1dAihGemmJd2Bo8GTmQG9-I1bStpcoP~pGJ2ZBumErPKFA__");    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-reg-modal {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    width: 630px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.import-reg-icon {
    width: 59px;
    height: 59px;
    background-color: rgba(244, 67, 54, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 54px auto;
}

.icon-cross {
    width: 40px;
    height: 40px;
    fill: #ffffff;
    font-weight: 900;
}


.import-reg-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.import-reg-message {
    font-size: 20px;
    color: rgba(24, 23, 26, 1);
    margin-bottom: 60px;
}

.import-reg-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

.close-btnImReg{
    display: none;
}

.import-log-button{
    background-color: rgba(254, 4, 4, 0.9);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.import-reg-button {
    background-color: rgba(254, 4, 4, 0.9);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.import-reg-button:hover {
    background-color: #d10000;
}

@media (max-width: 768px) {
    .import-reg-container {
        background-size: cover;
        background-position: center;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .import-reg-modal {
        width: 100%;
        max-width: 98%;
        padding: 24px 20px;
        border-radius: 16px;
        text-align: center;
    }

    .import-reg-icon {
        width: 53px;
        height: 53px;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .icon-cross {
        width: 28px;
        height: 28px;
    }

    .import-reg-icon img {
        width: 40px;
        height: 40px;
        margin-bottom: 16px;
    }

    .import-reg-message {
        font-size: 20px;
        margin-bottom: 100px;
        padding: 0 10px;
        font-weight: 700;
    }

    .import-reg-buttons {
        gap: 10px;
    }

    .import-reg-button {
        padding: 12px 0;
        font-size: 16px;
        border-radius: 8px;
        width: 100%;
    }

    .import-log-button {
        padding: 12px 0;
        font-size: 16px;
        border-radius: 8px;
        width: 100%;
        background: transparent;
        color: red;
        border: 1px solid red;
    }

    .import-reg-modal .close-btnImReg {
        position: absolute;
        right: 20px;
        top: -5px;
        font-size: 45px;
        font-weight: 200;
        background: green;
        color: #18171A;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }
}

